<div class="historicalSearch popup" style="float:right;display:none;position:absolute;right:0px;">
  Historical Search (Searches through entire history of document)
  
  <form id="historicalSearchForm" style="display:inline;">
    <input id="historicalSearchQuery" type="text"><input type="submit" value="Search" style="padding:10px">
    <img alt="" id="historicalSearchStatus" src="../../static/img/loading.gif" style="height:40px;display:inline;vertical-align:bottom;display:none">
  </form>
</div>

