<ul>
  <li onclick='$(".historicalSearch").toggle();return false;'>
    <a id="exportlink" title="Search history of pad">
      <div class="buttonicon" style="font-size:14px;color:black;width:60px;background-image:none;">
        Search
      </div>
    </a>
  </li>
</ul>
